.home-contents {
  display: flex;
  align-items: center;
  gap: 40px;
}

.revenue-home,
.sales-home,
.cost-home,
.profit-home {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  cursor: pointer;
  background-color: #edeefc;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0px 1px 11px 0px rgb(207 207 207);
}

.revenue-home-dark,
.cost-home-dark {
  background: linear-gradient(to right, #007aff, #4e8ddb);
}

.revenue-home-dark *,
.sales-home-dark *,
.cost-home-dark *,
.profit-home-dark * {
  background: transparent !important;
}

.sales-home,
.profit-home {
  background-color: #e6f1fd;
}

.sales-home-dark,
.profit-home-dark {
  background: linear-gradient(
    to right,
    rgb(76 77 80 / 24%),
    rgb(229 223 223 / 15%)
  );
}

.money-container-title {
  font-size: 20px;
  font-weight: 500;
}

.money-container {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  gap: 20px;
  align-items: center;
}

.amount {
  font-size: 20px;
}

.value-down {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.moeney-container-sub {
  font-weight: 200;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-left: 0.5rem;
}

.display-btn svg {
  font-size: 16px !important;
}

@media (max-width: 600px) {
  .page-title {
    font-size: 20px;
    margin-left: 0;
  }

  .money-container-title,
  .amount,
  .value-down {
    font-size: 16px;
  }

  .moeney-container-sub {
    font-size: 12px;
  }

  .home-contents {
    gap: 20px;
    flex-wrap: wrap;
  }

  .revenue-home,
  .sales-home,
  .cost-home,
  .profit-home {
    padding: 16px;
  }

  .value-down .arrow-icon {
    font-size: 16px;
  }
}
