name: "Minikube-Terraform-Validate"

on:
  push:
    branches:
      - "**"

jobs:
  terraform:
    name: Terraform Validate (Minikube)
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: minikube

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format Check
        run: terraform fmt -check -diff

      - name: Terraform Validate
        run: terraform validate
